<!--Panel for valgt periode-->
<div id="velgPeriode" style="left: 5px; display: inline-block; position: relative; top: 0; width: 60%;">
    <form method="get" action="/listapplications" onsubmit="setDate()">
        <h4>Velg tidsrom</h4>
        <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-shadow--2dp" style="width: 430px">
            <div class="mdl-card__supporting-text mdl-color-text--black">
                <label for="from" style="bottom: 4px; float:left; position:relative;">Fra:</label> <br>
                <input type="date" id="from" class="mdl-textfield__input" name="from"
                       value="{{moment date=fromDate format='YYYY-MM-DD'}}"
                       min="2016-07-25"
                       style="position:relative; float: left; width: 180px; bottom: 10px;"/>

                <label for="to" style=" position:relative; left: 12px; bottom: 16px;">Til:</label> <br>

                <input type="date" id="to" class="mdl-textfield__input" name="to"
                       value="{{moment date=toDate format='YYYY-MM-DD'}}"
                       min="today"
                       style="position: relative; width: 180px; bottom: 28px; left: 32px;"/>

                <!--Velg tidsavgrenset periode knapp-->
                <input type="submit" id="submit" value="Hent valgt periode"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                       style="position:relative;"/>
                <!--Slutt på knapp-->
                <!--Eksporterer tabellen til Excel-knapp-->
                <div class="exportToExcelClick">
                     <a href="/excel" id="button"
                     class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                     Eksporter til Excel
                    </a>
                </div>
                <!-- Slutt på Excel-knapp -->
            </div>
        </div>
    </form>
    <br>
</div>
<br>
<!--Slutt på valgt periode-->
{{>table-contens}}
<!--Sorteringsfunksjonalitet for tabellen-->
<script src=/public/js/stupidtable.js></script>
<script>
    $(function () {
        $("table").stupidtable();
    });
</script>
<p></p>
<br>