<!-- Script og css biblioteker for løsningen-->
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<link rel="stylesheet" href="/public/css/custom.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src=/public/js/stupidtable.js></script>
<!-- Slutt på script og css biblioteker for løsningen-->
<!--Setter UTF-8 standard-->
<meta charset="UTF-8">

<body>
<!--Panel for valgt periode-->
<div id="velgPeriode" style="left: 5px; display: inline-block; position: relative; top: 0; width: 60%;">
    <form method="get" action="/listapplications" onsubmit="setDate()">
        <h4>Velg tidsrom</h4>
        <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-shadow--2dp" style="width: 430px">
            <div class="mdl-card__supporting-text mdl-color-text--black">
                <label for="from" style="bottom: 4px; float:left; position:relative;">Fra:</label> <br>
                <input type="date" id="from" class="mdl-textfield__input" name="from"
                       value="{{moment date=d format='YYYY-MM-DD'}}"
                       min="2016-07-25"
                       style="position:relative; float: left; width: 180px; bottom: 10px;"/>

                <label for="to" style=" position:relative; left: 12px; bottom: 16px;">Til:</label> <br>

                <input type="date" id="to" class="mdl-textfield__input" name="to"
                       value="{{moment date=d format='YYYY-MM-DD'}}"
                       min="today"
                       style="position: relative; width: 180px; bottom: 28px; left: 32px;"/>

                <!--Velg tidsavgrenset periode knapp-->
                <input type="submit" id="submit" value="Hent valgt periode"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                       style="position:relative;"/>
                <!--Slutt på knapp-->
                <!--Eksporterer tabellen til Excel-knapp-->
                <div class="exportToExcelClick">
                     <a href="/excel" id="button"
                     class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                     Eksporter til Excel
                    </a>
                </div>
                <!-- Slutt på Excel-knapp -->
            </div>
        </div>
    </form>
    <br>
</div>
<br>
<!--Slutt på valgt periode-->
{{>table-contens}}
<!--Sorteringsfunksjonalitet for tabellen-->
<script>
    $(function () {
        $("table").stupidtable();
    });
</script>
<p></p>
<br>
<script>
    function setDate() {
     // Plukker opp inputType date feltet
     var value = document.getElementById('from').value
     var valueto = document.getElementById('to').value
     // Setter verdien feltet har inn i localStorage
     localStorage.setItem("user_selected_date", value)
     localStorage.setItem("user_selected_dateto", valueto)
     console.log("From value:" + value)
     console.log("To value:" + valueto)
     }
     // Funksjon som henter informasjon fra local storage
     function getDate() {
     // Hvis local storage er tomt -> returener dagens dato, hvis det er noe der returner 'user_selected_date'
         if (localStorage.getItem("user_selected_date")  === null) {// Sjekker om det er data
             return "{{moment date=d format='YYYY-MM-DD'}}"
         }
     // Returnerer den valgte datoen til <input type = date> - feltet
         return localStorage.getItem("user_selected_date")
     }

     function getDateTo() {
         // Hvis local storage er tomt -> returener dagens dato, hvis det er noe der returner 'user_selected_dateto'
         if (localStorage.getItem("user_selected_dateto") === null) {// Sjekker om det er data
            return "{{moment date=d format='YYYY-MM-DD'}}"
         }
     // Returnerer den valgte datoen til <input type = date> - feltet
     return localStorage.getItem("user_selected_dateto")
     }

     // Setter den valgte verdien inn til input date = from / to
     document.getElementById('from').value = getDate()
     document.getElementById('to').value = getDateTo()

    // Tømmer localStarage ved refresh
     localStorage.clear()
</script>
</body>
