<!DOCTYPE html>
<html>
    <head>
        <title>Skoleskyss søknader </title>
        <link rel="stylesheet" href="/public/css/bootstrap.css">
        <!-- Script og css biblioteker for løsningen-->
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
        <link rel="stylesheet" href="/public/css/custom.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src=/public/js/stupidtable.js></script>
        <!-- Slutt på script og css biblioteker for løsningen-->
        <!--Setter UTF-8 standard-->
        <meta charset="UTF-8">
    </head>
    <!--Header som inneholder logo og fargeprofil-->
    <div id="header">
        <h2 style="width: 100%; left: 200px; position: relative; bottom: 20px;">Skoleskyss søkere</h2>
    </div>
    <!--Slutt på header-->
    <body>

    <!--Panel for valgt periode-->
    <div id="velgPeriode" style="left: 5px; display: inline-block; position: absolute; top: 0;">

        <form method="get" action="/listapplications">
            <h4>Velg tidsrom</h4>
            <div>
            <label for="from" style="position:relative; float: left;">Fra:</label>
            <input type="date" id="from" name="from" value="{{moment date=d format='YYYY-MM-DD' subtract='days' amount='5'}}" style="float: left; top: 130px;" />
            <label for="to" style="top: 130px; float:left;">Til:</label>
            <input type="date" id="to" name="to" value="{{moment date=d format='YYYY-MM-DD'}}" style=" position:relative; float: left;"/>
            <!--Velg tidsavgrenset periode knapp-->
            <input type="submit" value="Hent valgt periode" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="position:relative; left: 50px;">
            <!--Slutt på knapp-->
            </div>
        </form>
        <br>
    </div>
    <br>
    <!--Slutt på valgt periode-->
        <!--Tabell for som inneholder Skolekyss Søkere-->
        <table id="skolekyssokere" class="mdl-data-table mdl-js-data-table mdl-data-table- mdl-shadow--2dp">
            <thead>
                <tr> <!--Itererer gjennom alle elementene i posisjon [0] som tilsvarer <th>-->
                    {{#each this.[0]}}
                    <th id="tablerow" data-sort="string" class="mdl-data-table__cell--non-numeric">{{@key}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <!--Itererer gjennom alle vediene til students og skriver de ut i tabellen-->
                {{#each this}}
                <tr>
                    {{#each .}}
                    <td class="mdl-data-table__cell--non-numeric"> {{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
                </tbody>
        </table>
    <!--Slutt på tabell-->
    <!--Sorteringsfunksjonalitet for tabellen-->
    <script>
        $(function () {
            $("table").stupidtable();
        });
    </script>
    <!--Eksporterer tabellen til Excel-knapp-->
    <div class="form-group" style="top: 26px; position: relative;">
        <a href="/excel" id="button"
           class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Eksporter til Excel
        </a>
    </div>
    <!-- Slutt på Excel-knapp -->
    <br>

    <script>
        function correctDateFormat(standardDate) {
            console.log(("Datoformatet er: " + standardDate))
            console.log((new Date(standardDate).getTime() / 1000))
        }
    </script>
    <!--Slutt på knappen-->
    </body>

</html>